
#home {
    margin-top: 89px;
}

.cruz-sur, .cover {
    max-width: 100%;
    height: auto;
}

#footer {
    padding: 5rem 0rem 3rem 0rem;
    font-size: 20px;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: #7E9739;
}


/* Video Container */

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}



@media only screen and (min-width: 320px) {
   body {
       background-color: black;
       background: url(../img/Bg_320px.png) no-repeat top center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       text-align: center;
   }

}

@media only screen and (min-width: 576px) {
  body {
      background-color: black;
      background: url(../img/bg-img.png) no-repeat top center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-align: center;
  }

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}